/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 100%;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS STYLES */

* {
  box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin: 15px;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 1px;
}

/* CSS STYLING */

.navbar {
  display: flex;
  justify-content: space-between;
  justify-content: center;
	font-size: 14px;
	margin-top: 1.5%;
  margin-left: 13%;
  margin-right: 13%;
  text-align: center;
  width: 70%;
  border: 2px solid red;
}

.navbar img {
  margin-top: 1%;
}

.navbar a {
  text-decoration: none;
  color: #3a3a3a;
  margin-left: 5%;
  width: 80%;
}

.nav {
  align-self: flex-end;
}
section.jumbo-img {
  margin-left: 18%;
  margin-top: 3%;
  margin-bottom: 2%;
}

.jumbo-img img{
  width: 77%;
}

.top-border .section-border {
  margin-top: 2%;
  margin-left: 17.8%;
  margin-right: 18.5%;
}

.about-section {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 20%;
  width: 59%;
}

.about-section p {
  text-align: justify;
}


/* END OF NAV BAR */

/* START OF TOP CONTENT */
.container {
  width: 800px;
  margin: 0 auto;
}

.about-section {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 2%;
  padding-bottom: 2%;
  width: 59%;
  border-bottom: 1px dashed black;
}

.about-section p {
  text-align: justify;
}

h1 {
  margin-left: 2%;
}

p {
  width: 100%;
  margin: auto;
  border: auto;
  height: 100%;
}

/* START OF MIDDLE CONTENT */

.middle-contain {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-left: 18%;
  margin-bottom: 2%;
  margin-top: 1%;
  height: 91%;
  width: 60.5%;
} 

.text-container img {
  width: 112%;
}

.text-contentainer h1{
  margin-top: 4%;
}

.middle-contain .text-container {
  padding: 20px;
  width: 48%;
  height: 30%;
}

.middle-contain .text-contentainer h1, p, a {
text-align: justify;
}
 
button {
  margin: 15px;
  padding: 2px 8px 3px;
  border-radius: 4px;
  padding: 10px 35px;
  border: 2px solid black;
}

.bottom-border .content-border {
  border-bottom: 2px dotted black;
  margin-top: 5%;
  width: 110%;
  } 

.bottom-border .content-border {
  border-bottom: 2px dotted black;
  margin-top: 5%;
  width: 110%;
}


/* BOTTOM */

.bottom-container {
  display: flex;
  justify-content: space-around;
  padding: 2%;
  margin: 2%;
  width: 100%;
}

.bottom-container .bottom-text-content {
  height: 100%;
  width: 100%;
  padding-bottom: 3%;

  
/* FOOTER */

footer {
  width: 100%;
  background: black;
}

footer nav {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 2%;
  font-size: 14px;
}

footer nav a {
  color: white;
  text-decoration: none;
}

